@charset "UFT-8";

@font-face {
    font-family: "Allura";
    src: url('../fonts/allura-regular/Allura-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    /*border: 1px solid red; */
}

body {
    background-color: whitesmoke;
    max-width: 100%;
}

header {
    background-image: url(../images/header-image-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left-center;
    background-attachment: scroll;

    width: 100%;
    
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
}

h1 {
    font-family: 'Allura', cursive, serif;
    color: #FF9161;
    text-shadow: 1px 1px 1px #3C444A;
    padding-right: 20px;
}

header p {
    color: #FF9161;
    padding-right: 20px;
    font-style: italic;
    
}

main {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
} 

section{
    padding: 20px;
}
div {
    max-width: 100%;
    padding: 10px;
}

table {
    margin-bottom: 15px;
    text-align: center;
    width: 90%;
    max-width: 90%;
    border-radius: 2px;
    border: 1px solid;
    border-color: rgba(214, 214, 213, 0.699);  
    color: rgb(58, 58, 58);
    border-collapse: collapse;
}

thead {
    background-color: rgb(240, 223, 201);
    font-size: 0.9em;
}

thead th {
    padding: 2px;
}

tbody td {
    padding: 10px 4px;
}

tbody > tr:nth-child(2n) {
    background-color: rgb(234, 231, 231);
}

/* th, td {
    box-sizing: inherit;
}


 td, th {
    border-inline: none;
} */
 
textarea {
    margin: 0px;
    width: 90%;
    max-width: 100%; /* ajuste conforme necessário */
    height: 100%; /* ajuste a altura */
    resize: none; /* impede o usuário de redimensionar */
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

td:nth-child(1) {
    padding: 0px;
}


th:nth-child(2),
td:nth-child(2) {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

th:nth-child(3),
td:nth-child(3) {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}


th:nth-child(4),
td:nth-child(4) {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

th:nth-child(5),
td:nth-child(5) {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}


td .delButton {
    width: 30px;
    height: 30px;
}

input {
    padding: 2px;
    text-indent: 2px;
    font-size: 0.8em;
}

.delButton {
    background-image: url('../images/trash-solid-full.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 80%;
    border: none;
    background-color: transparent;

}

.editButton {
    margin: 5px;
    background-image: url('../images/pen-solid.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.editButton:disabled {
    opacity: 50%;
}

.saveButton {
    margin: 5px;
    background-image: url('../images/circle-check-solid.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}


button {
    padding: 2px;
    font-size: 0.8em;

}

footer {
    background-color: rgba(128, 128, 128, 0.445);
    text-align: center;
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.712);
    padding: 5px;
}