@charset "UFT-8";

@font-face {
    font-family: "Allura";
    src: url('../fonts/allura-regular/Allura-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    border: 1px solid red;
}

body {
    background-color: whitesmoke;
    max-width: 100%;
}

header {
    background-image: url(../images/header-image-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left-center;
    background-attachment: scroll;

    width: 100%;
    
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
}

h1 {
    font-family: 'Allura', cursive, serif;
    color: #FF9161;
    text-shadow: 1px 1px 1px #3C444A;
    padding-right: 20px;
}

header p {
    color: #FF9161;
    padding-right: 20px;
    font-style: italic;
    
}

main {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
} 

section{
    padding: 20px;
}
div {
    max-width: 100%;
    padding: 10px;
}

table {
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    max-width: 200px;
    border-radius: 2px;
    border: 1px solid;
    border-color: rgba(214, 214, 213, 0.699);  
    color: rgb(58, 58, 58);
    border-collapse: collapse;
    font-size: 0.9em;
}

thead {
    background-color: rgba(221, 200, 174, 0.336);
}
th {
    padding: 2px;
}

tbody > tr:nth-child(2n) {
    background-color: rgba(233, 233, 233, 0.829);
}

th, td {
    box-sizing: inherit;
}

td, th {
    border-inline: none;
}

textarea {
    width: 80%;
    max-width: 100%; /* ajuste conforme necessário */
    height: 25px; /* ajuste a altura */
    resize: none; /* impede o usuário de redimensionar */
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

input {
    padding: 2px;
    text-indent: 2px;
    font-size: 0.8em;
}

.delButton {
    width: 20px;
    height: 20px;
}

button {
    padding: 2px;
    font-size: 0.8em;

}

footer {
    background-color: rgba(128, 128, 128, 0.445);
    text-align: center;
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.712);
    padding: 5px;
}