* {
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: whitesmoke;
}

header {
    background-image: url(./images/header-image-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left-center;
    background-attachment: scroll;

    height: 200px;
    display: flex;

}

h1 {
    color: bisque;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.712);
    margin: 20px 0px 0px 20px;
}

header p {
    color: bisque;
    margin: 40px 0px 0px 20px;
}

main {
    display: grid;
    align-content: space-evenly;
    justify-content: center;
} 

section,
div {
    margin: 20px;
}

table {
    margin-bottom: 15px;
    text-align: center;
    width: 400px;
    border-radius: 2px;
    border: 1px solid;
    border-color: rgba(214, 214, 213, 0.699);   
    font-size: 0.9em; 
    color: rgb(58, 58, 58);
    border-collapse: collapse;
}

thead {
    background-color: rgba(221, 200, 174, 0.336);
}
th {
    padding: 2px;
}

tbody > tr:nth-child(2n) {
    background-color: rgba(233, 233, 233, 0.829);
}

th, td {
    box-sizing: inherit;
}

td, th {
    border-inline: none;
}

input {
    padding: 2px;
    text-indent: 2px;
    font-size: 0.8em;
}

button {
    padding: 2px;
    font-size: 0.8em;

}

footer {
    background-color: rgba(128, 128, 128, 0.445);
    text-align: center;
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.712);
    padding: 5px;
}