@charset "UTF-8";

@media screen and (min-width: 760px) and (max-width: 992px) {
    /* mid screens */

     header {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 150px;
    }

    h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1.25em;
    }

    main {
        margin: auto;
        max-width: 70vw;
        display: flex;
        flex-direction: column;

        font-size: 1em;
    }


    th:nth-child(1),
    td:nth-child(1) {
        width: 250px;

    }


    th:nth-child(2),
    td:nth-child(2) {
        width: 70px;

    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 70px;

    }


    th:nth-child(4),
    td:nth-child(4) {
        width: 40px;

    }

    th:nth-child(5),
    td:nth-child(5) {
        width: 40px;

    }


    td .delButton {
        width: 30px;
        height: 30px;
    }



    button:hover {
        opacity: 50%;
        transform: scale(0.95);
    }

    input {
        margin: 2px;

    }

    .inputExercise {
        width: 20vw;
        margin-left: 50px;
    }

    footer {
    padding: 10px;
    font-size: 1em;
}
}



@media screen and (min-width: 993px) {
    /* big screens */

    header {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        max-width: 100vw;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 200px;
    }

    h1 {
        font-size: 3em;
    }

    header p {
        font-size: 1.5em;
    }

    main {
        margin: auto;
        max-width: 50vw;
        display: flex;
        flex-direction: column;

        font-size: 1em;
    }


    th:nth-child(1),
    td:nth-child(1) {
        width: 250px;

    }


    th:nth-child(2),
    td:nth-child(2) {
        width: 70px;

    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 70px;

    }


    th:nth-child(4),
    td:nth-child(4) {
        width: 40px;

    }

    th:nth-child(5),
    td:nth-child(5) {
        width: 40px;

    }


    td .delButton {
        width: 30px;
        height: 30px;
    }



    button:hover {
        opacity: 50%;
        transform: scale(0.95);
    }

    input {
        margin: 2px;
    }

    .inputExercise {
        width: 15vw;
        margin-left: 50px;
    }

    footer {
    padding: 10px;
    font-size: 1em;
}
}