@charset "UFT-8";

@font-face {
    font-family: "Allura";
    src: url('../fonts/allura-regular/Allura-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: whitesmoke;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
}

header {
    background-image: url(../images/header-image-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left-center;
    background-attachment: scroll;

    width: 100%;

    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}

h1 {
    font-family: 'Allura', cursive, serif;
    color: #FF9161;
    text-shadow: 1px 1px 1px #3C444A;
    padding-right: 20px;
}

header p {
    color: #FF9161;
    padding-right: 20px;
    font-style: italic;

}

main {
    flex: 1;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    padding: 0px;
    margin: 10px 0px 30px 0px;
}

section {
    margin: 30px auto 30px auto;
    padding: 10px 0px;
    max-width: 100%;
    width: 90%;
}

div {
    padding: 10px;
}

table {
    margin-bottom: 15px;
    text-align: center;
    width: 100vw;
    max-width: 100%;
    border-radius: 2px;
    border: 1px solid;
    border-color: rgba(214, 214, 213, 0.699);
    color: rgb(58, 58, 58);
    border-collapse: collapse;
}

thead {
    background-color: rgb(240, 223, 201);
}

thead th {
    padding: 5px 2px;
}

tbody td {
    padding: 5px 2px;
}

tbody>tr:nth-child(2n) {
    background-color: rgb(234, 231, 231);
}

textarea {
    margin: 0px;
    width: 90%;
    max-width: 100%;
    height: 100%;
    resize: none;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

th:nth-child(2),
td:nth-child(2) {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

th:nth-child(3),
td:nth-child(3) {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}


th:nth-child(4),
td:nth-child(4) {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

th:nth-child(5),
td:nth-child(5) {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}


td .delButton {
    width: 30px;
    height: 30px;
}


button {
    padding: 2px;

    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    transition: opacity 0.2s, transform 0.2s;

    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

button:active {
    opacity: 50%;
    transform: scale(0.95);
}

.delButton {
    background-image: url('../images/trash-solid-full.png');
}

.editButton {
    margin: 5px;
    background-image: url('../images/pen-solid.png');
}

.editButton:disabled {
    opacity: 50%;
}

.saveButton {
    margin: 5px;
    background-image: url('../images/circle-check-solid.png');
}

.inputDiv {
    padding: 2px;
    height: 1.5em;
    font-size: 1em;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    margin: 2px;

    padding: 2px;
    height: 1.5em;
    font-size: 0.9em;
}

.inputExercise {
    margin-left: 50px;
}

.addButton {
    background-image: url('../images/circle-plus-solid.png');
    padding: 10px;
}

footer {
    background-color: rgba(128, 128, 128, 0.445);
    text-align: center;
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.712);
    padding: 5px;
    font-size: 0.8em;
}